body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-layout {
  display: flex;
  height: 100vh; /* Full viewport height */
}

/* Below lines all act to remove any scroll behavior */
/* Ensure full height */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Disables scrolling */
}

/* Optional: prevent touch scrolling on mobile */
body {
  overscroll-behavior: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Optional: Hide scrollbar (some versions of Chrome/Edge still render it) */
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge (Chromium) */
}